.atte__content {
    width: 90%;
    margin: 30px auto;
}

.atte__date-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__date-form{
    background:#F2F2F2;
    border: none;
    font-weight: bolder;
    text-align: center;
    font-size: larger;
    width:150px;
}

.prev-date-button,
.next-date-button{
    margin: 20px;
    color: #007bff;
    font-weight: bolder;
    background-color: #FFFFFF;
    border: 1px solid #007bff;
}

.atte__customer {
    margin: 30px auto;
    width: 100%;
}

.customer-table__inner {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #909090;
    border-bottom: 1px solid #909090;
}

.customer-table__header-span,
.update-form__item {
    text-align: center;
    border-bottom: 1px solid #909090;
    height: 50px;

}

.update-form__item {
    border-spacing: 0;
}