.card_txt{
    margin: auto;
    text-align: center;
}

.card_header{
    font-size: 30px;
}

.email_text{
    font-size: 20px;
}

.mail_resend_link{
    font-size: 20px;
    border: none;
    border-radius: 3px;
    background: #214BE0;
    color: #fff;
    cursor: pointer
    padding: 10px;
    height: 50px;
    width: 25%;
}